<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
  <a class="navbar-brand" [routerLink]="['/home']"  >EhealthCare</a>
  
  
      

      <div  *ngIf="loggedInaspatient() || loggedInasadmin() || loggedInasdoctor()" class="dropdown"  >
        <a class=" text-light" >
          
         Welcome 
        </a>
        
      </div>
      
      
      

      <div *ngIf="this.x == 0 ">
      <form class="form-inline my-2 my-log-0">
        <button class="btn btn-primary my-2 my-sm-0" style="margin: 5px;" type="submit" (click)="loginasadmin()"> Login as Admin</button>
        <button class="btn btn-primary my-2 my-sm-0" style="margin: 5px;" type="submit" (click)="loginasdoctor()">Login as Doctor</button>
        <button class="btn btn-primary my-2 my-sm-0" style="margin: 5px;" type="submit" (click)="loginaspatient()">Login as Patient</button>
      </form>
    </div>
    
      <div *ngIf="this.x == 1 && !loggedInasadmin()">
        <form #loginForm="ngForm" class="form-inline my-2 my-log-0" (ngSubmit)="logintosystemasadmin()">
        <button class="btn btn-warning" style="margin: 5px;" (click)="backbutton()">Back</button>
        <input class="form-control mr-sm-2" type="text" name="adminname"
         placeholder="AdminName" required [(ngModel)]="model.adminname">
        <input class="form-control mr-sm-2" type="password" name="password" 
         placeholder="Password" required [(ngModel)]="model.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" (click)="loginadmin()" type="submit">Login</button>
      </form>
     
      
      </div>

      <ul *ngIf="loggedInasadmin() && this.y == 1"  class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link "  [routerLink]="['/add-doctor']" >Add Doctor
          </a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/add-patient']"  >Add Patient</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link " [routerLink]="['/view-doctors']"  >View Doctors</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link " [routerLink]="['/view-patient']"  >View Patients</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link " [routerLink]="['/view-feedback']"  >View Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="logoutadmin()">Logout</a>
        </li>
      </ul>

      
      <div *ngIf="this.x == 2 && !loggedInasdoctor()">
        <form  #loginForm="ngForm" class="form-inline my-2 my-log-0" (ngSubmit)="logintosystemasdoctor()">
        <button class="btn btn-warning" style="margin: 5px;" (click)="backbutton()">Back</button>
        <input class="form-control mr-sm-2" type="text" name="doctorId"
         placeholder="DoctorId" required [(ngModel)]="model2.doctorId">
        <input class="form-control mr-sm-2" type="password" name="password"
         placeholder="Password" required [(ngModel)]="model2.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" (click)="logindoctor()" type="submit">Login</button>
      </form>
      
      </div>

      <ul *ngIf="loggedInasdoctor() && this.z == 1"  class="navbar-nav mr-auto">
       
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link "[routerLink]="['/details']"  >Details</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link " [routerLink]="['/view-patients']"  >View Patients</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active" >
          <a class="nav-link " [routerLink]="['/chat-with-patients']" >Chat with patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="logoutdoctor()">Logout</a>
        </li>
      </ul>
      <div *ngIf="this.x == 3 && !loggedInaspatient()">
        <form  #loginForm="ngForm" class="form-inline my-2 my-log-0" (ngSubmit)="logintosystemaspatient()">
        <button class="btn btn-warning" style="margin: 5px;" (click)="backbutton()">Back</button>
        <input class="form-control mr-sm-2" type="text" name="patientId"
        placeholder="PatientId" required [(ngModel)]="model3.patientId">
        <input class="form-control mr-sm-2" type="password" name="password"
         placeholder="Password" required [(ngModel)]="model3.password">
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" (click)="loginpatient()" type="submit">Login</button>
      </form>
      
      </div>

      <ul *ngIf="loggedInaspatient() && this.a == 1"  class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link " [routerLink]="['/view-doctors']"  >View Doctors</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link " [routerLink]="['/chat-with-doctor']"  >Chat With Doctor</a>
        </li>
        
        <li class="nav-item" routerLinkActive="router-link-active" >
          <a class="nav-link " [routerLink]="['/give-feedback']"  >Give Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="logoutpatient()">Logout</a>
        </li>
      </ul>
  
  
   
 
</nav>